#container {
  width: 450px;
  height: 500px;
  background: inherit;
  position: absolute;
  /* overflow: hidden; */
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}
/* .dash-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

span a {
  color: rgba(255, 255, 255, 0.8);
} */

.label-white {
  float: left;
  margin-left: 0px;
  color: white;
}
.edit-box {
  margin: 10% 35%;
}
.btn-sbt {
  margin: 2%;
}
