.exhold {
  background-color: inherit;
  margin: 100px 25%;
  height: 1000px;
  width: 1000px;
}
.company-text2x {
  margin: -6vh;
  color: black;
}
.btn-exadd {
  margin-left: -6%;
}
.btn-editx {
  margin-top: 3vh;
  margin-left: 68%;
}
